<div class="hogwarts">
  <h1>Hogwarts</h1>
  <div class="container">
    <div class="teachers">
      <h2>Teachers</h2>
      <div class="card-container">
        <div *ngFor="let teacher of teachers" class="card">
          <h3 class="name">{{ teacher.firstName }} {{ teacher.lastName }}</h3>
          <p class="description">{{ teacher.description }}</p>
          <p class="date"><i class="fa fa-calendar"></i> {{ teacher.arrivalDate }}</p>
          <p class="assignment {{ teacher.assignment }}">{{ teacher.assignment }}</p>
          
        </div>
      </div>
    </div>

    <div class="students">
      <h2>Students</h2>
      <div class="card-container">
        <div *ngFor="let student of students" class="card">
          <h3 class="name">{{ student.firstName }} {{ student.lastName }}</h3>
          <p class="description">{{ student.description }}</p>
          <p class="date"><i class="fa fa-calendar"></i> {{ calculateSchoolYear(student.arrivalDate) }}</p>
          <p class="house {{ student.house }}">{{ student.house }}</p>
          
        </div>
      </div>
    </div>
  </div>
</div>
